body {
  font-family: sans-serif;
  margin: 0;
}

#app {
  width: 100vw;
  height: 100vh;
  background-color: #cd6155;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 600px;
  height: 600px;
  background-color: white;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding: 5px 0 5px 0;
}

.card-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-top: 10px;
  padding-left: 20px;
}

.card-header-text p {
  display: flex;
  flex-direction: column;
  margin: 0 0 0 20px;
}

.header-three-dot {
  margin-left: auto;
  margin-right: 22px;
}

.dot-img {
  margin-top: 4px;
}

.seperated-text {
  display: flex;
  padding: 0 0 0 20px;
}

.detailed-text {
  padding-left: 15px;
}

.text-area {
  background-color: #d4e1e2;
  padding: 10px;
  height: 70px;
}

.reaction-info {
  display: flex;
  align-items: center;
}

.emojies {
  display: flex;
  align-items: center;
  padding-left: 15px;
}

.comments {
  display: flex;
  margin-left: auto;
  margin-right: 10px;
}

.hr-most-below {
  border: 0;
  border-top: 1px solid #aaa7a7f6;
  margin: 0 25px 0 25px;
}

.footer {
  cursor: pointer;
}
